<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ehsueh.appygolucky">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </activity>
        <activity android:name=".MapsActivity" />
        <activity android:name=".HomePageActivity" />
        <activity
            android:name=".RiderRequestListActivity"
            android:label="@string/title_activity_rider_request_list" />
        <activity android:name=".ListDriversChooseActivity" />
        <activity android:name=".SearchPageActivity" />
        <activity android:name=".DriverPendingActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity
            android:name=".AddRequest"
            android:label="@string/title_activity_add_request"></activity>
        <!--AIzaSyCsF_t4VNATAc0QtC3jKPnpSglUWhpSwCM won't work for places idk why'-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAiMeLL7CTYPq6LUWzkLh2HwvmCrz3xE2Q"/>



        content_copy

    </application>

</manifest>